<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://raw.githubusercontent.com/Vef2-musc/Project-Lets-Make-Music/a8cbc4dca67862dc117ebce7ed90b9308fa8f181/Images/icons8-google-play-music.svg">
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body class="loggedin">
		{% extends 'base.html' %}
        {% block content %}
        <section class="hmpbod">
            <div class="dropdown">
                <svg viewBox="0 0 100 80" width="40" height="40" class="borg">
                    <rect width="100" height="20"></rect>
                    <rect y="30" width="100" height="20"></rect>
                    <rect y="60" width="100" height="20"></rect>
                </svg>
                <div class="dropdown-content">
                    <a href="{{ url_for('forsida') }}" class="menuitem">Messages</a><br>
                    <a></a><br>
                    <a href="{{ url_for('forsida') }}" class="menuitem">groups</a><br>
                    <a></a><br>
                    <a href="{{ url_for('leit') }}" class="menuitem">leit</a><br>
                </div>
            </div>
            <div class="table-div">
                <table>
                    <caption>Artist</caption>
                    <thead>
                        <tr>
                            <th scope="col">Nafn</th>
                            <th scope="col">Instruments</th>
                            <th scope="col">Genres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="profiles">
                            <img class="mynd" src="{{ url_for('static',filename='mynd1.jpg') }}" alt="{{ item }}">
                            <span class="name">Tst</span>
                            <span class="audio">Preview:
                                <audio controls class="audio-controls">
                                    <source src="{{ url_for('static',filename='song1.mp3') }}" type="audio/mpeg">
                                </audio>
                            </span>
                        </div>
                        <tr>
                            <td data-label="Nafn">Tst</td>
                            <td data-label="Instruments">Drums, Sax</td>
                            <td data-label="Genres">Hip Hop</td>
                        </tr>
                        <tr>
                            <td data-label="Nafn">Goomba</td>
                            <td data-label="Instruments">Bass</td>
                            <td data-label="Genres">Pop</td>
                        </tr>
                        <tr>
                            <td data-label="Nafn">Chad</td>
                            <td data-label="Instruments">Singer</td>
                            <td data-label="Genres">Blues</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
		{% endblock %}
	</body>
</html>