<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>
    <header class="header">
        <span font-size="3" font-weight="bold" class="nafnvefsidu">Let's Make Music</span>
    </header>
    <body class="body1">
        {% extends 'base.html' %}
        {% block content %}
        <h4 class="header4-1">Halló Frontpage</h4>

        <button type="button"> <p><a href="{{ url_for('login') }}">Login</a></p> <button type="button"><p><a href="{{ url_for('signup') }}">Sign up</a></p></button>
        <p><a href="{{ url_for('forsida') }}">Forsíða</a></p>
        <p><a href="{{ url_for('leit') }}">Leit</a></p>
        {% endblock %}
    </body>
</html>