<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="body1">
    	{% extends 'base.html' %}
        {% block content %}
        <div class="login">
			    <h1>Login</h1>
			    <div class="links">
				    <a href="{{ url_for('forsida') }}" class="active">Login</a>
				    <a href="{{ url_for('signup') }}">Register</a>
           </div>
        <form action="{{ url_for('forsida') }}" method="post">
			<input type="text" placeholder="email" name="email" value="{{request.form.user }}">
            <input type="password" placeholder="pass" name="password" value="{{request.form.pass }}">
            <input class="btn btn-default" type="submit" value="Login">
				  <!--<label for="username">
					  <i class="fas fa-user"></i>
				  </label>
				  <input type="text" name="username" placeholder="Username" id="username" required>
				  <label for="password">
					  <i class="fas fa-lock"></i>
				  </label>
				  <input type="password" name="password" placeholder="Password" id="password" required>
				  <div class="msg">{{ msg }}</div>
				  <input type="submit" value="Login">-->
		</form>
		</div>
		{% endblock %}
    </body>
</html>