<!DOCTYPE html>
<html>
    <body>
        <h4>Halló Login Síða</h4>
        <p><a href="{{ url_for('forsida') }}">forsida</a></p>
        <p><a href="{{ url_for('search') }}">leit</a></p>
        <p><a href="{{ url_for('back') }}">Home</a></p>
        <form>
            <label for="usrname">Username</label><br>
            <input type="text" id="usrname" name="usrname" value="Username"><br>
            <label for="psw">Password</label><br>
            <input type="text" id="psw" name="psw" value="Password"><br>
        </form>
    </body>
</html>