<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="https://raw.githubusercontent.com/Vef2-musc/Project-Lets-Make-Music/a8cbc4dca67862dc117ebce7ed90b9308fa8f181/Images/icons8-google-play-music.svg">
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <section class="searchbod">
            <form class="searchbar">
                <input type="text" name="username" placeholder="Search" id="user" required>
            </form>
            <div class="grid-div">
                <tbody>
                    {% for i in range(0, len) %}
                    <div class="profiles">
                        <img class="mynd" src="{{ url_for('static',filename='mynd1.jpg') }}" alt="{{ item }}">
                        <span class="name">{{gamers[i]["name"]}}</span>
                        <span class="instrument">{{gamers[i]["Instrument"[0:]]}}</span>
                        <div class="preview-audio">
                            <span class="preview">Preview:
                                <audio controls class="audio-controls">
                                    <source src="{{ url_for('static',filename='song1.mp3') }}" type="audio/mpeg">
                                </audio>
                            </span>
                        </div>
                    </div>
                    {%endfor%}
                </tbody>
            </div>
            <form action="{ url_for(leit)}" class="filter" method="post">
                <section class="filtersect">
                    <h5>Hljóðfæri</h5>
                    <input type="checkbox" id="vehicle1" name="instruments" value="trommur">
  					<label for="vehicle1"> trommur</label><br>
  					<input type="checkbox" id="vehicle2" name="instruments1" value="piano">
  					<label for="vehicle2"> Piano</label><br>
  					<input type="checkbox" id="vehicle3" name="instruments2" value="flauta">
  					<label for="vehicle3"> flautu</label><br><br>
                </section>
            </form>
            <input type="submit" value="Submit">
        </section>
        {% endblock %}
    </body>
</html>