<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="https://raw.githubusercontent.com/Vef2-musc/Project-Lets-Make-Music/a8cbc4dca67862dc117ebce7ed90b9308fa8f181/Images/icons8-google-play-music.svg">
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <form class="searchbar">
            <input type="text" name="username" placeholder="Search" id="user" required>
        </form>
        <form class="filter">
            <section class="instruments">
                <h5>Hljóðfæri</h5>
                <input type="checkbox" name="piano">
                <label for="piano">Píanó</label><br><br>
                <input type="checkbox" name="drums">
                <label for="drums">Trommur</label><br><br>
                <input type="checkbox" name="vocals">
                <label for="vocals">Söngur</label><br><br>
            </section>
        </form>
        {% endblock %}
    </body>
</html>